@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.app-container {
  --gap: 15px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--bcs-grey-3);
  padding: 10px;
}

.shortener {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  background-color: #fff;
  padding: var(--gap);
  gap: var(--gap);
  display: grid;
  width: 100%;

  max-width: 400px;

  .title {
    text-align: center;
  }

  .content,
  .result,
  form {
    display: grid;
    gap: var(--gap);
  }

  .result {
    transition: all 0.25s ease;
    display: grid;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 50px;
    }

    &.open {
      height: 110px;
      overflow: auto;
      pointer-events: auto;
      visibility: visible;
      opacity: 1;

      @media (min-width: 576px) {
        height: 50px;
      }
    }

    input {
      opacity: 0.5;
    }

    input,
    svg {
      pointer-events: none;
    }
  }
}




